ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: #FFDEAD;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
 background-color: #D2B48C;
}

.logIn1 {
  float: left;  
  background-color: #FFDEAD;
  border-right: solid;
  border-width: 1px;
  border-color: black;

}

h1 {
    text-align: center;
}


.home {
    display: block;
}

.logIn {
    display: none;
}

.menu {
    display: none;
}

.contact{
    display: none;
}

.loggedIn {
    display: none;
}
