# Take a copy of this file, save it as application.properties in the same folder
# Set the correct values for your setup
spring.datasource.url=jdbc:mysql://localhost:3306/5minuti
spring.datasource.username=your_db_user
spring.datasource.password=your_password
jwt.header=your_header
jwt.secret=your_secret_key
jwt.name=your_user_name
jwt.passwordhash=your_password_hash

# This tells JPA to automatically create and update necessary SQL tables
spring.jpa.hibernate.ddl-auto=update
